.App {
  color: black;
  margin: 0 auto;
  max-width: 450px;
  font-family: "Lora", serif;
}
.App .WeatherApplication {
  background-image: url("images/backgroundImage.jpg");
  background-size: cover;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  box-shadow: 2px 2px 2px black;
  font-family: "Nunito", sans-serif;
  margin: 20px auto 0px;
  padding: 20px;
}

.App footer {
  font-size: 12px;
  margin-top: 10px;
}

.App footer .Footer-link {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
