.App {
  color: #4b6673;
  margin: 0 auto;
  max-width: 600px;
}
.WeatherApplication {
  background: #ebe0cc;
  border: 1px solid #eae8d8;
  border-radius: 10px;
  color: #4b6673;
  box-shadow: 2px 2px 2px#4b6673;
  font-family: "Nunito", sans-serif;
  margin: 20px auto 0px;
  max-width: 600px;
  padding: 20px;
}
