.Forecast {
  text-align: center;
}
.Forecast-day {
  font-size: 18px;
  font-weight: 600;
  color: black;
}

.Forecast-icon {
  font-size: 30px;
}
.Forecast-temperature {
  font-size: 13.5px;
  color: black;
}

.Temperature-divider {
  color: black;
}
